node_modules/
.env
config/default.json

.DS_Store
/application/.env.local
/application/.env.development.local
/application/.env.test.local
/application/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
